<div class="panel panel-primary">
  <div class="panel-heading">
    Aniversariantes do mês
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Data de nascimento</th>
        <th>Idade</th>
      </tr>
    </thead>

    <tbody>
      <% if @birthdays.empty? %>
        <tr>
          <td colspan="4">Não há aniversariantes neste mês.</td>
        </tr>
      <% else %>
        <%- @birthdays.each do |b| %>
          <tr>
            <td><%= b.first_name %></td>
            <td><%= date_format b.birthday %></td>
            <td><%= age b.birthday %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
