<div class="panel panel-primary">
  <div class="panel-heading">
    Eventos neste mês
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Título</th>
        <th>Data</th>
        <th>Horário de início</th>
      </tr>
    </thead>

    <tbody>
      <% if @events.empty? %>
        <tr>
          <td colspan="4">Não há eventos para este mês.</td>
        </tr>
      <% else %>
        <%- @events.each do |e| %>
          <tr>
            <td><%= e.title %></td>
            <td><%= date_format e.date %></td>
            <td><%= time_format e.start_time %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
