<div class="panel panel-primary">
  <div class="panel-heading">Repertório Semanal</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <h4>Avulsos</h4>
          <% if @songs.empty? %>
              <p>Ainda não existem louvores registrados.</p>
          <% else %>
            <%- @songs.each do |song| %>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><%= song.title %> <span class="label label-<%= day_label song.week_day %>"><%= song.week_day %></span></li>
              </ul>
            <% end %>
          <% end %>
        </div>

        <div class="col-md-6">
          <h4>Harpa</h4>
          <% if @hymns.empty? %>
              <p>Ainda não existem hinos registrados.</p>
          <% else %>
            <%- @hymns.each do |hymn| %>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><%= hymn.number %> - <%= hymn.title %> <span class="label label-<%= day_label hymn.week_day %>"><%= hymn.week_day %></span></li>
              </ul>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
