<h3>Painel Administrativo</h3>
<br/>
<%= render 'weekly_repertoire' %>
<div class="row">
  <div class="col-md-6">
    <div class="row col-md-12">
      <%= render 'birthdays' %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row col-md-12">
      <%= render 'events' %>
    </div>
  </div>
</div>
