<div class="edit-user-box">
  <div class="edit-user-header devise-brand">
    <i class="glyphicon glyphicon-fire"></i>
    <b><%= app_title %></b>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :first_name, "Nome" %><br />
      <%= f.text_field :first_name, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :last_name, "Sobrenome" %><br />
      <%= f.text_field :last_name, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :email, "Email" %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password, "Senha" %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Confirmar senha" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :current_password, "Senha atual" %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="actions">
      <br/>
      <%= f.submit "Atualizar", class: "btn btn-primary" %>
    </div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Você tem certeza?" }, method: :delete, class: "btn btn-danger" %></p>


  <%= render 'shared/messages' %>
  <%= link_to "Voltar", :back %>
</div>
