<div class="signup-box">
  <div class="signup-header devise-brand">
    <i class="glyphicon glyphicon-fire"></i>
    <b><%= app_title %></b>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :first_name, "Nome" %><br />
      <%= f.text_field :first_name, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :last_name, "Sobrenome" %><br />
      <%= f.text_field :last_name, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :email, "Email" %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password, "Senha" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Confirmar Senha" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="actions">
      <br/>
      <%= f.submit "Registrar", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= render 'shared/messages' %>
  <%= render "devise/shared/links" %>
</div>
