Bem vindo ao Adoração Oswaldo Cruz!
===============================================

Um ambiente virtual para melhor administrar o nosso grupo!

Worship O.C. foi um projeto idealizado com o intuito de trazer ao grupo de louvor uma ferramenta que visa facilitar a integração dos ministros com as principais informações relacionadas aos trabalhos e eventos da congregação local.

Para acessar nosso site, visite o link: <%= @url %>.

Obrigado por se juntar a nós! Tenha um ótimo dia!
