<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bem vindo ao Adoração Oswaldo Cruz!</h1>
    <p>
      Um ambiente virtual para melhor administrar o nosso grupo!<br/>
    </p>
    <p>Worship O.C. foi um projeto idealizado com o intuito de trazer ao grupo de louvor uma ferramenta que visa facilitar a integração dos ministros com as principais informações relacionadas aos trabalhos e eventos da congregação local.
    <p>
      Para acessar nosso sistema, visite o link: <%= @url %>.
    </p>
    <p>Obrigado por se juntar a nós! Tenha um ótimo dia!</p>
  </body>
</html>
