/* line 1, /home/cristiano/dev/ruby/worship_oc/app/assets/stylesheets/users.scss */
.login-box, .signup-box, .edit-user-box, .password-box, .edit-password-box {
  background-color: #fff;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* line 12, /home/cristiano/dev/ruby/worship_oc/app/assets/stylesheets/users.scss */
.login-header, .signup-header, .edit-user-header, .password-header, .edit-password-header {
  width: auto;
  text-align: center;
}

/* line 17, /home/cristiano/dev/ruby/worship_oc/app/assets/stylesheets/users.scss */
.login-error-messages, .signup-error-messages, .edit-user-error-messages, .password-error-messages, .edit-password-error-messages {
  margin-top: 10px;
  margin-bottom: 10px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


 /* Toggle Styles */


 body {
   background-color: #eee;
 }

 #wrapper {
   padding-left: 0;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
   overflow: hidden;
 }

 #wrapper.toggled {
   padding-left: 250px;
   overflow: scroll;
 }

 #sidebar-wrapper {
   z-index: 1000;
   position: absolute;
   left: 250px;
   width: 0;
   height: 100%;
   margin-left: -250px;
   overflow-y: auto;
   background: #000;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
 }
 #wrapper.toggled #sidebar-wrapper {
   width: 250px;
 }

 #page-content-wrapper {
   position: absolute;
   padding: 15px;
   width: 100%;
   overflow-x: hidden;
 }
 .xyz{
   min-width: 360px;
 }
 #wrapper.toggled #page-content-wrapper {
   position: relative;
   margin-right: 0px;
 }
 .fixed-brand{
   width: auto;
 }
 /* Sidebar Styles */

 .sidebar-nav {
   position: absolute;
   top: 0;
   width: 250px;
   margin: 0;
   padding: 0;
   list-style: none;
   margin-top: 2px;
 }

 .sidebar-nav li {
   text-indent: 15px;
   line-height: 40px;
 }

 .sidebar-nav li a {
   display: block;
   text-decoration: none;
   color: #999999;
 }

 .sidebar-nav li a:hover {
   text-decoration: none;
   color: #fff;
   background: rgba(255,255,255,0.2);
   border-left: red 2px solid;
 }

 .sidebar-nav li a:active,
 .sidebar-nav li a:focus {
   text-decoration: none;
 }

 .sidebar-nav > .sidebar-brand {
   height: 65px;
   font-size: 18px;
   line-height: 60px;
 }

 .sidebar-nav > .sidebar-brand a {
   color: #999999;
 }

 .sidebar-nav > .sidebar-brand a:hover {
   color: #fff;
   background: none;
 }
 .no-margin{
   margin:0;
 }

 @media(min-width:768px) {
   #wrapper {
     padding-left: 250px;
   }
   .fixed-brand{
     width: 250px;
   }
   #wrapper.toggled {
     padding-left: 0;
   }

   #sidebar-wrapper {
     width: 250px;
   }

   #wrapper.toggled #sidebar-wrapper {
     width: 250px;
   }
   #wrapper.toggled-2 #sidebar-wrapper {
     width: 50px;
   }
   #wrapper.toggled-2 #sidebar-wrapper:hover {
     width: 250px;
   }


   #page-content-wrapper {
     padding: 20px;
     position: relative;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
   }

   #wrapper.toggled #page-content-wrapper {
     position: relative;
     margin-right: 0;
     padding-left: 250px;
   }
   #wrapper.toggled-2 #page-content-wrapper {
     position: relative;
     margin-right: 0;
     margin-left: -200px;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
     width: auto;

   }
 }

 .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
   color: #fff;
   background-color: #337ab7;
   border-radius: 0px;
 }

 .nav-pills>li>a {
   border-radius: 0px;
 }
