/* line 1, /home/cristiano/dev/ruby/worship_oc/app/assets/stylesheets/users.scss */
.login-box, .signup-box, .edit-user-box, .password-box, .edit-password-box {
  background-color: #fff;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* line 12, /home/cristiano/dev/ruby/worship_oc/app/assets/stylesheets/users.scss */
.login-header, .signup-header, .edit-user-header, .password-header, .edit-password-header {
  width: auto;
  text-align: center;
}

/* line 17, /home/cristiano/dev/ruby/worship_oc/app/assets/stylesheets/users.scss */
.login-error-messages, .signup-error-messages, .edit-user-error-messages, .password-error-messages, .edit-password-error-messages {
  margin-top: 10px;
  margin-bottom: 10px;
}
