<%= form_for(@hymn) do |f| %>

  <%= render partial: "shared/errors", locals: {record: @hymn }%>

  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label "Título" %><br>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group col-md-3">
      <%= f.label "Número"%><br>
      <%= f.number_field :number, class: "form-control" %>
    </div>

    <div id="week_days" class="form-group col-md-2">
      <%= f.label "Dia da Semana" %><br>
      <%= f.select :week_day, options_for_select(Hymn.week_days.keys.to_a), {}, class: "form form-group form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-9">
      <%= f.label "Cifra" %><br>
      <%= f.text_field :chords, class: "form-control", placeholder: "Copie e cole o link contendo a cifra do hino" %>
    </div>
  </div>

  <div class="actions">
    <br/>
    <%= f.submit "Salvar", class: "btn btn-primary" %></div><br/>
    <p>
      Obs.: O link para a letra do hino será gerado automaticamente de acordo com o número fornecido.
    </p>
  </div>
<% end %>

