<tr>
  <td><%= hymn.title %></td>
  <td><%= hymn.number %></td>
  <td><%= hymn.week_day %></td>

  <td>
    <%= link_to hymn, title: "Ver Detalhes", id: "show_hymn_#{hymn.id}" do %>
      <i class='glyphicon glyphicon-info-sign'></i>
    <% end %>
  </td>

  <td>
    <%= link_to edit_hymm_path(hymn), title: "Editar Hino", id: "edit_hymn_#{hymn.id}" do %>
      <i class='glyphicon glyphicon-edit'></i>
    <% end %>
  </td>

  <td>
    <%= link_to hymn, method: :delete, data: { confirm: 'Você tem certeza?' }, title: "Excluir Louvor", id: "delete_hymn_#{hymn.id}" do %>
      <i class='glyphicon glyphicon-trash'></i>
    <% end %>
  </td>

</tr>
