<h3>Harpa Cristã</h3>
<br/>
<div class="panel panel-primary">
  <div class="panel-heading">
    Relatório
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Título</th>
        <th>Número</th>
        <th>Dia da Semana</th>
        <th colspan="4">Ações</th>
      </tr>
    </thead>

    <tbody>
      <% if @hymns.empty? %>
        <tr>
          <td colspan="4">Ainda não existem hinos registrados.</td>
        </tr>
      <% else %>
        <%= render @hymns %>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Adicionar Hino', new_hymm_path, class: "btn btn-primary" %>
