<div class="well">
  <h3><%= @hymn.title %></h3>
</div>

<div class="well">
  <p>
    <strong> Número: </strong> <%= @hymn.number %>
  </p>

  <p>
    <strong> Letra: </strong> <%= hymn_lyrics @hymn.lyrics %>
  </p>

  <p>
    <strong> Cifra: </strong> <%= extern_link @hymn.chords %>
  </p>

  <p>
    <strong> Dia da Semana: </strong> <%= @hymn.week_day %>
  </p>

</div>

<div>
  <p>
    <strong> Adicionado por </strong> <%= link_to @hymn.user, @hymn.user %> em </b><%= date_format @hymn.created_at %>
  </p>

  <p>
    <b>Última atualização:</b> <%= date_format @hymn.updated_at %>
  </p>
</div>
