
<br/>
<h3>Redefinir Senha</h3>

<%= bootstrap_form_for(@user) do |f| %>

  <%= render partial: "shared/errors", locals: {record: @user }%>

  <div class="row">
    <div class="col-md-3">
      <%= f.password_field :password, label: 'Senha', class: 'form-control' %>
    </div>
    <div class="col-md-3">
      <%= f.password_field :password_confirmation, label: 'Confirmar Senha', class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Redefinir', class: 'btn btn-primary' %>
  </div>
<% end %>
