<%= bootstrap_form_for(@user, html: { multipart: true }) do |f| %>

  <%= render partial: "shared/errors", locals: {record: @user }%>

  <div class="row">
    <div class="col-md-4">
      <%= f.file_field :image, label: 'Foto', class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= f.text_field :first_name, label: 'Nome', class: 'form-control' %>
    </div>
    <div class="col-md-4">
      <%= f.text_field :last_name, label: 'Sobrenome', class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class='form-inline'>
        <%= f.date_select :birthday, include_blank: true, default: nil, start_year: 1960, label: 'Aniversário', class: 'form-control form-group' %>
      </div>
    </div>
    <div class="col-md-4">
      <%= f.email_field :email, label: 'Email', class: 'form-control' %>
    </div>
  </div>

  <% if !current_page?("/users/#{@user.id}/edit") %>
    <div class="row">
      <div class="col-md-3">
        <%= f.password_field :password, label: 'Senha', class: 'form-control' %>
      </div>
      <div class="col-md-3">
        <%= f.password_field :password_confirmation, label: 'Confirmar Senha', class: 'form-control' %>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit 'Salvar', class: 'btn btn-primary' %>
  </div>
<% end %>
