<tr>
  <td><%= full_name user %></td>
  <td><%= user.email %></td>
  <td><%= role_description user.role %></td>

  <td>
    <%= link_to user, title: "Ver Detalhes", id: "show_user_#{user.id}" do %>
      <i class='glyphicon glyphicon-info-sign'></i>
    <% end %>
  </td>

  <td>
    <%= link_to edit_user_path(user), title: "Editar Usuário", id: "edit_user_#{user.id}" do %>
      <i class='glyphicon glyphicon-edit'></i>
    <% end %>
  </td>

</tr>
