<h3>Editar usuário</h3>

<%= render 'form' %>

<%= render 'change_password' %>
<br/>
<%= link_to "Excluir conta", @user, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-danger" %>
