<h3>Usuários</h3>
<br/>
<div class="panel panel-primary">
  <div class="panel-heading">
    Relatório
  </div>
  <table id="users" class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Função</th>
        <th colspan="4">Ações</th>
      </tr>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
</div>
<br/>
<%= link_to "Adicionar Usuário", new_user_path, class: 'btn btn-primary' %>
<%= link_to "Convidar Usuário", new_user_invitation_path, class: 'btn btn-primary' %>
