<div class="well">
  <%= image_tag @user.image.url(:large) %>
  <h3>
    <%= full_name @user %>
  </h3>
</div>

<div class="well">

  <p>
    <b>Email:</b> <%= @user.email %>
  </p>

  <p>
    <b>Aniversário:</b> <%= date_format @user.birthday %>
  </p>

  <p>
    <b>Último Login:</b> <%= last_login @user %>
  </p>

  <p>
    <b>Criado em: </b><%= date_format @user.created_at %>
  </p>

  <p>
    <b>Atualizado em:</b> <%= date_format @user.updated_at %>
  </p>

  <p>
    <b>Número de logins: </b><%= @user.sign_in_count %>
  </p>
</div>
