<div class="edit-password-box">
  <div class="edit-password-header devise-brand">
    <i class="glyphicon glyphicon-fire"></i>
    <b><%= app_title %></b>
  </div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.label :password, "Nova senha" %><br />
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Confirmar nova senha" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="actions">
      <br/>
      <%= f.submit "Alterar minha senha", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= render 'shared/messages' %>
  <%= render "devise/shared/links" %>
</div>
