<div class="password-box">
  <div class="password-header devise-brand">
    <i class="glyphicon glyphicon-fire"></i>
    <b><%= app_title %></b>
  </div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>

    <div class="actions">
      <br/>
      <%= f.submit "Enviar instruções de redefinição de senha.", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= render 'shared/messages' %>
  <%= render "devise/shared/links" %>
</div>
