<nav class="navbar navbar-default no-margin">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header fixed-brand">

    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
      <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
    </button>

    <%= link_to root_path, class: "navbar-brand" do %>
      <i class="glyphicon glyphicon-fire"></i>
      <b><%= app_title %></b>
    <% end %>

  </div><!-- navbar-header-->

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <ul class="nav navbar-nav">

      <li class="active" >
        <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2">
          <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
        </button>
      </li>

    </ul>

  </div><!-- bs-example-navbar-collapse-1 -->

</nav>
