<!-- Sidebar -->
<div id="sidebar-wrapper">

  <ul class="sidebar-nav nav-pills nav-stacked" id="menu">

    <div class="profile">
      <%= image_tag current_user.image.url(:med), class: 'user-picture' %>
      <div class='user-info'>
        <%= user_info %>
      </div>
    </div>

    <!-- Painel Administrativo -->
    <li class="child">
      <%= nav_link '
        <span class="fa-stack fa-lg pull-left">
          <i class="fa fa-dashboard fa-stack-1x "></i>
        </span> Painel Administrativo'
      .html_safe, dashboard_index_path %>
    </li>

    <!-- Louvores Avulsos -->
    <li>
      <%= nav_link '
        <span class="fa-stack fa-lg pull-left">
          <i class="fa fa-microphone fa-stack-1x "></i>
        </span> Louvores Avulsos'
      .html_safe, songs_path %>
    </li>

    <!-- Harpa Cristã -->
    <li>
      <%= nav_link '
        <span class="fa-stack fa-lg pull-left">
          <i class="fa fa-fire fa-stack-1x "></i>
        </span> Harpa Cristã'
      .html_safe, hymns_path %>
    </li>

    <!-- Eventos -->
    <li>
      <%= nav_link '
      <span class="fa-stack fa-lg pull-left">
        <i class="fa fa-calendar fa-stack-1x "></i>
      </span> Eventos'.html_safe, events_path %>
    </li>

    <!-- Usuários -->
    <li>
      <%= nav_link '
        <span class="fa-stack fa-lg pull-left">
          <i class="fa fa-user fa-stack-1x "></i>
        </span> Usuários'
      .html_safe, users_path %>
    </li>

    <!-- Aniversários -->
    <li>
      <%= nav_link '
        <span class="fa-stack fa-lg pull-left">
          <i class="fa fa-birthday-cake fa-stack-1x "></i>
        </span>Aniversários'
      .html_safe, birthdays_path %>
    </li>

    <!-- Sair -->
    <li>
      <%= link_to '
        <span class="fa-stack fa-lg pull-left">
          <i class="fa fa-sign-out fa-stack-1x "></i>
        </span> Sair'
      .html_safe, destroy_user_session_path, :method => :delete %>
    </li>

  </ul>
</div><!-- /#sidebar-wrapper -->
