<tr>

  <td><%= event.title %></td>
  <td><%= date_format event.date %></td>
  <td><%= time_format event.start_time %></td>
  <td><%= time_format event.end_time %></td>

  <td>
    <%= link_to event, id: "show_event_#{event.id}", title: "Ver Detalhes" do %>
      <i class="glyphicon glyphicon-info-sign"></i>
    <% end %>
  </td>

  <td>
    <%= link_to edit_event_path(event), id: "edit_event_#{event.id}", title: "Editar Evento" do %>
      <i class="glyphicon glyphicon-edit"></i>
    <% end %>
  </td>

  <td>
    <%= link_to event, method: :delete, data: { confirm: 'Você tem certeza?' }, id: "delete_event_#{event.id}", title: "Excluir Evento" do %>
      <i class="glyphicon glyphicon-trash"></i>
    <% end %>
  </td>

</tr>
