<%= bootstrap_form_for(@event) do |f| %>

  <%= render partial: "shared/errors", locals: {record: @event }%>

  <div class="row">
    <div class="col-md-4">
      <%= f.text_field :title, class: 'form-control', label: 'Título' %>
    </div>

    <div class="col-md-3">
      <%= f.date_field :date, class: 'form-control', label: 'Data'%>
    </div>

    <div class="form-inline time-fields col-md-4">
      <div class="form-group" style="margin-right: 20px">
        <%= f.time_select :start_time, class: 'form-control', label: 'Início'%>
      </div>
      <div class="form-group">
        <%= f.time_select :end_time, class: 'form-control', label: 'Término'%>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      <%= f.text_field :address, class: 'form-control', label: 'Endereço' %>
    </div>

    <div class="col-md-2">
      <%= f.text_field :number, class: 'form-control', label: 'Número' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <%= f.text_field :complement, class: 'form-control', label: 'Complemento' %>
    </div>

    <div class="col-md-3">
      <%= f.text_field :zip_code, class: 'form-control', label: 'CEP' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= f.text_field :neighborhood, class: 'form-control', label: 'Bairro' %>
    </div>

    <div class="col-md-4">
      <%= f.text_field :city, class: 'form-control', label: 'Cidade' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-11">
      <%= f.text_area :observations, class: 'form-control', rows: 5, label: 'Observações' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit value: 'Salvar', class: 'btn btn-primary' %>
  </div>

<% end %>
