<h3>Eventos</h3>
<br>
<div class="panel panel-primary">
  <div class="panel-heading">
    Relatório
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Título</th>
        <th>Data</th>
        <th>Horário de Início</th>
        <th>Horário de Término</th>
        <th colspan="4">Ações</th>
      </tr>
    </thead>

    <tbody>
      <% if @events.empty? %>
        <tr>
          <td colspan="4">Ainda não existem eventos registrados.</td>
        </tr>
      <% else %>
        <%= render @events %>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Adicionar Evento', new_event_path, class: 'btn btn-primary' %>
