<div class="well">
  <h3><%= @event.title %></h3>
</div>

<div class="well">
  <p>
    <strong>Data:</strong>
    <%= date_format @event.date %>
  </p>

  <p>
    <strong>Horário de Início:</strong>
    <%= time_format @event.start_time %>
  </p>

  <p>
    <strong>Horário de Término:</strong>
    <%= time_format @event.end_time %>
  </p>

  <p>
    <strong>Endereço:</strong>
    <%= @event.address %>
  </p>

  <p>
    <strong>Número:</strong>
    <%= @event.number %>
  </p>

  <p>
    <strong>Complemento:</strong>
    <%= @event.complement %>
  </p>

  <p>
    <strong>CEP:</strong>
    <%= @event.zip_code %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= @event.neighborhood %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= @event.city %>
  </p>

  <p>
    <strong>Observações:</strong>
    <%= @event.observations %>
  </p>
</div>

<div>
  <p>
    <strong> Adicionado por </strong> <%= link_to @event.user, @event.user %> em </b><%= date_format @event.created_at %>
  </p>

  <p>
    <b>Última atualização:</b> <%= date_format @event.updated_at %>
  </p>
</div>
