<div class="songs-form">
  <%= form_for(@song) do |f| %>

    <%= render partial: "shared/errors", locals: {record: @song }%>

    <div class="row">
      <div class="form-group col-md-4">
        <%= f.label "Título" %><br>
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group col-md-3">
        <%= f.label "Cantor/Banda"%><br>
        <%= f.text_field :singer, class: "form-control" %>
      </div>

      <div id="week_days" class="form-group col-md-2">
        <%= f.label "Dia da Semana" %><br>
        <%= f.select :week_day, options_for_select(Song.week_days.keys.to_a), {}, class: "form form-group form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-9">
        <%= f.label "Letra" %><br>
        <%= f.text_field :lyrics, class: "form-control", placeholder: "Copie e cole o link contendo a letra do louvor" %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-9">
        <%= f.label "Cifra" %><br>
        <%= f.text_field :chords, class: "form-control", placeholder: "Copie e cole o link contendo a cifra do louvor" %>
      </div>
    </div>

    <div class="actions">
      <br/>
      <%= f.submit "Salvar", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
