<tr>
  <td><%= song.title %></td>
  <td><%= song.singer %></td>
  <td><%= song.week_day %></td>

  <td>
    <%= link_to song, title: "Ver Detalhes", id: "show_song_#{song.id}" do %>
      <i class='glyphicon glyphicon-info-sign'></i>
    <% end %>
  </td>

  <td>
    <%= link_to edit_song_path(song), title: "Editar Louvor", id: "edit_song_#{song.id}" do %>
      <i class='glyphicon glyphicon-edit'></i>
    <% end %>
  </td>

  <td>
    <%= link_to song, method: :delete, data: { confirm: 'Você tem certeza?' }, title: "Excluir Louvor", id: "delete_song_#{song.id}" do %>
      <i class='glyphicon glyphicon-trash'></i>
    <% end %>
  </td>

</tr>
