<h3>Louvores Avulsos</h3>
<br/>
<div class="panel panel-primary">
  <div class="panel-heading">
    Relatório
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Título</th>
        <th>Cantor/Banda</th>
        <th>Dia da Semana</th>
        <th colspan="4">Ações</th>
      </tr>
    </thead>

    <tbody>
      <% if @songs.empty? %>
        <tr>
          <td colspan="4">Ainda não existem louvores registrados.</td>
        </tr>
      <% else %>
        <%= render @songs %>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Adicionar Louvor', new_song_path, class: "btn btn-primary" %>
