<div class="well">
  <h3><%= @song.title %></h3>
</div>

<div class="well">
  <p>
    <strong> Cantor/Banda: </strong> <%= @song.singer %>
  </p>

  <p>
    <strong> Letra: </strong> <%= extern_link @song.lyrics %>
  </p>

  <p>
    <strong> Cifra: </strong> <%= extern_link @song.chords %>
  </p>

  <p>
    <strong> Dia da Semana: </strong> <%= @song.week_day %>
  </p>

</div>

<div>
  <p>
    <strong> Adicionado por </strong> <%= link_to @song.user, @song.user %> em </b><%= date_format @song.created_at %>
  </p>

  <p>
    <b>Última atualização:</b> <%= date_format @song.updated_at %>
  </p>
</div>
