<div class="login-box">
  <div class="login-header devise-brand">
    <i class="glyphicon glyphicon-fire"></i>
    <b><%= app_title %></b>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field form-group">
      <%= f.label :email, "Email" %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :password, "Senha" %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field form-group">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, "Mantenha-me conectado" %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Entrar", class: "btn btn-primary" %>
    </div>
  <% end %>
  <br/>
  <%= render 'shared/messages' %>
  <%= render "devise/shared/links" %>
</div>
