<h2><%= t 'devise.invitations.edit.header' %></h2>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :invitation_token %>

  <% if f.object.class.require_password_on_accepting %>
  <p><%= f.label :password %><br />
  <%= f.password_field :password, class: 'form-control' %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, class: 'form-control' %></p>
  <% end %>

  <p><%= f.submit t("devise.invitations.edit.submit_button"), class: 'btn btn-primary' %></p>
<% end %>
