
.login-box, .signup-box, .edit-user-box, .password-box, .edit-password-box {
  background-color: #fff;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.login-header, .signup-header, .edit-user-header, .password-header, .edit-password-header {
  width: auto;
  text-align: center;
  font-family: brand_font;
}

.brand {
  font-size: 22px;
}
