<p>Welcome <%= @email %>!</p>

<p>Você pode confirmar sua conta de email através do link abaixo:</p>
<p><%= link_to 'Confirmar minha conta', confirmation_url(@resource, confirmation_token: @token), class: 'btn btn-primary' %></p>
