<p>Olá, <%= @resource.email %>!</p>

<p>Alguém solicitou um link para alterar sua senha. Você pode fazer isso através do link abaixo:</p>
<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou a alteração da senha, por favor ignore este email.</p>
<p>Sua senha não será alterada até que você acesse o link abaixo e crie uma nova.</p>
