<p>Olá <%= @resource.email %>!</p>

<p>Sua conta foi bloqueada, devido a um número excessivo de tentativas de login.</p>

<p>Clique no link abaixo para desbloquear sua conta:</p>

<p><%= link_to 'Desbloquear minha conta', unlock_url(@resource, unlock_token: @token) %></p>
