<h3>Aniversários</h3>
<br/>
<div class="panel panel-primary">
  <div class="panel-heading">
    Relatório
  </div>
  <table id="users" class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Data de Nascimento</th>
      </tr>
    </thead>
    <tbody>
      <%- @users.each do |user| %>
        <tr>
          <td><%= user.first_name %></td>
          <td><%= date_format user.birthday %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br/>
