<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="Aplicação de Gerenciamento de Grupos Musicais" content="">
  <meta name="Cristiano Carvalho" content="">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <%= favicon_link_tag 'favicon/glyphicons-23-fire' %>
  <title><%= page_title %></title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= render 'shared/shim' %>

  <%= csrf_meta_tags %>

</head>
<body>

  <% if user_signed_in? %>

    <!-- Dashboard -->
    <%= render "shared/navbar" %>
    <div id="wrapper">
      <%= render "shared/sidebar" %>
      <!-- Page Content -->
      <div id="page-content-wrapper">
        <div class="container-fluid xyz">
          <div class="row">
            <div class="col-lg-12">

              <%= render 'shared/messages' %>
              <%= yield %>

            </div>
          </div>
        </div>
      </div>
      <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

  <% else %>

    <!-- Login page -->
    <%= yield %>

  <% end %>

  <script>

    // menu toogle actions
    $("#menu-toggle").click(function(e) {

      e.preventDefault();
      $("#wrapper").toggleClass("toggled");

    });

    $("#menu-toggle-2").click(function(e) {

      e.preventDefault();
      $("#wrapper").toggleClass("toggled-2");
      $('#menu ul').hide();

    });

  </script>

</body>
</html>
